%h1 Listing tables

%table
  %tr
    %th Token
    %th Restaurant
    %th
    %th
    %th

  - @tables.each do |table|
    %tr
      %td= table.token
      %td= table.restaurant_id
      %td= link_to 'Show', table
      %td= link_to 'Edit', edit_table_path(table)
      %td= link_to 'Destroy', table, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Table', new_table_path
